<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>713Demo</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/vue-router.js"></script>
    <script src="../js/axios.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script type="text/javascript"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="username">
    <input type="text" v-model="password">
    <input type="button" @click="postData" value="发送">
    <router-view></router-view>
</div>

<script>

    var login = {
        template:'<h1>登录组件</h1>'
    };

    var register = {
        template:'<h1>注册组件</h1>'
    };

    var routerObj = new VueRouter({
        routes:[
            {path:'/login',component:login},
            {path:'/register',component:register}
        ],
        linkActiveClass:'myactive'
    });

    var vm = new Vue({
        el: '#app',
        data:{
            username:'',
            password:''
        },
        router:routerObj,
        methods:{
            postData(){
                axios({
                    method:'post',
                    url:'http://localhost:8080/login',
                    params:{
                        username:this.username,
                        password:this.password
                    },
                    headers: {
                        'Accept': 'application/json'
                    }
                    }).then((res)=> {
                    console.log(res.data);
                    if (res.data==='副经理'){
                        console.log('kk');
                        this.$router.push('/login');
                    }
                })
            }
        }
    });
</script>
</body>
</html>